@p: @prefix;

.@{p}pad {
	padding: @pad;
}

.@{p}hide {
	display: none;
}

@media (max-width: @small-break-point) {
	.@{p}hide-lt-small {
		display: none !important;
	}
}

@media (min-width: (@small-break-point + 1)) {
	.@{p}hide-gt-small {
		display: none !important;
	}
}

@media (max-width: @medium-break-point) {
	.@{p}hide-lt-medium {
		display: none !important;
	}
}

@media (min-width: (@medium-break-point + 1)) {
	.@{p}hide-gt-medium {
		display: none !important;
	}
}

@media (max-width: @large-break-point) {
	.@{p}hide-lt-large {
		display: none !important;
	}
}

@media (min-width: (@large-break-point + 1)) {
	.@{p}hide-gt-large {
		display: none !important;
	}
}

.@{p}pad {
	padding: @pad;
}

.@{p}relative {
	position: relative;
}
