/* Default padding*/
@pad: 10px;

/*Colours*/
@text-color: #004B63;

@border-radius: 2px;

/* Responsive break points */
@small-break-point: 500px;
@medium-break-point: 700px;
@large-break-point: 1000px;

@content-width: 1100px;

@prefix: lx-;

/* Number of grid colums */
@columns: 12;