/* Default padding*/
@pad: 10px;

/*Colours*/

@color-primary: #0D47A1;
@color-accent: #FFC107;
@text-color: #1F222B;
@link-color: #1F222B;

@border-radius: 2px;

/* Responsive break points */
@small-break-point: 500px;
@medium-break-point: 700px;
@large-break-point: 1000px;

@content-width: 1100px;

@prefix: lx-;

/* Number of grid colums */
@columns: 12;