.code {
	background-color: #efefef;
}


.showgrid [class*='lx-col-'] {
	background-color: white;
	border: 1px solid grey;
	padding: 6px;
	font-size: 0.8em;
}

.showgrid .lx-row {
	background-color: #ddd;
}

.fakebody {
	border: 2px solid red;
	position: relative;
	height: 200px
}